<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Vendor files -->
  <script src="vendor/vue.js"></script>
  <script src="vendor/axios.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheet.css">

  <title>managerJobAllocation.html</title>
</head>

<body class="mainBackground bg-light bg-gradient">
  <div id="app">
  <!-- Navigation Bar -->
  <nav class="navbar sticky-top navbar-dark navbar-expand-md" style="background-color:firebrick">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./Logo.PNG" alt="Doorz4U" class="img-fluid" width="50%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <div class="navbar-nav">
          <a class="nav-link active" href="./manager-jobs.html">JOB ALLOCATION</a>
          <a class="nav-link" href="./manager-teams.html">TEAM MANAGEMENT</a>
          <a class="nav-link" href="#" onclick="logOut()">LOG OUT</a>
        </div>
        <span class="navbar-text">Logged in as {{loggedInUsername}} (manager)</span>
      </div>
    </div>
  </nav>

  <!-- Main Section -->
  <main>
    <h2>Job Allocation:</h2>

    <div class="search-box">
      <input class="search-txt-2" name="" v-model="searchQuery" v-on:input="filterJobs()" placeholder="Search by Order no. or Job name" type="text">
    </div>

    Sort:
    <select class="" v-model="sortOption">
      <option>Order No. (DESC)</option>
      <option>Order No. (ASC)</option>
    </select>

    <br>
    <span>Filter by status:</span>
    <span v-for="status in filterOptions" :key="status.id" class="filteroption">
      <label>{{status.name}}</label>
      <input type="checkbox" v-model="selectedOptions" :value="status.value"/>
    </span>
    <br>
    <button class="btn btn-primary" type="button" @click="applyfilter()">Apply filter/sort</button>

    <!-- Job Allocation Table -->
    <div class="table-responsive-lg mt-3">
      <table class="table table-lg table-hover table-bordered">
        <!-- Table Header Row -->
        <thead class="table-danger">
          <tr>
            <th scope="col">Order No.</th>
            <th scope="col">Job</th>
            <th scope="col">Customer Postcode</th>
            <th scope="col">Fitter Team</th>
            <th scope="col">Job Status</th>
          </tr>
        </thead>
        <!-- Table Content -->
        <tbody>
          <tr v-for="job in filteredJobs">
            <th scope="row">{{ job.JobNo }}</th>
            <th scope="row">{{ job.JobName }}</th>
            <th scope="row">{{ job.PostCode }}</th>
            <th scope="row" class="table-secondary">
              <select class="form-select" v-on:change="changeTeamAllocation(job)" v-model="job.AllocatedTeam">
                <option value="null">No team allocated</option>
                <option v-for="team in teamsList" v-bind:value="team.id">{{ team.id }} ({{ team.name }})</option>
              </select>
            </th>
            <th scope="row" class="table-success">
              <select class="form-select" v-on:change="changeJobStatus(job)" v-model="job.Status">
                <option value='OPEN' disabled>Pending Allocation</option>
                <option value='ALLOCATED' disabled>Allocated</option>
                <option value='IN PROGRESS'>In progress</option>
                <option value='COMPLETED'>Completed</option>
                <option value='INVALID'>Invalid</option>
              </select>
            </th>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <th scope="row">Hinge Replacement</th>
            <th scope="row">DD72 8JF</th>
            <th scope="row" class="table-secondary">
              <select class="form-select" aria-label="None Selected">
                <option>-- None Selected --</option>
                <option selected>2 (Flanders & Swann)</option>
                <option>3 (Viking)</option>
              </select>
            </th>
            <th scope="row" class="table-success">
              <select class="form-select" aria-label="None Selected">
                <option>Pending Allocation</option>
                <option selected>Allocated</option>
                <option>Invalid</option>
              </select>
            </th>
          </tr> -->
        </tbody>
      </table>
    </div>
  </main>

  <!-- footer -->
  <nav class="navbar fixed-bottom navbar-dark navbar-expand-md" style="background-color:firebrick">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="#">©2022, Doorz4U</a>
    </div>
  </nav>



</div>
<script src="common.js" charset="utf-8"></script>
<script src="manager-jobs.js" charset="utf-8"></script>
</body>

</html>
