main{
    margin-top:45px;
    margin-bottom:95px;
    margin-left:35px;
    margin-right:35px;

}

.search-btn{

    color: #df4759;
}

div.summary-last-line{
    padding-top:22px;
}

h2{
    padding-top:45px;
}

.block-button{
    padding-top:19px;
    padding-bottom:19px;
}

.form-section{
    padding-bottom:50px;
}

.register-form{
    padding-top:25px;
    padding-bottom:25px;
}

.team-header{
    margin-bottom:45px;
}

.team-today{
    padding-bottom:10px;
}

/*Following section from: https://bootstrapbay.com/blog/bootstrap-button-styles/ */
.block-button:hover, .block-button:focus{
    background:#6c757d
}
.block-button:active, .block-button.active{
    background:#dc3545;
}
/*Section End*/


/*Following lines from: https://stackoverflow.com/a/52667883 */
.table-md{
    width:768px;
}
.table-lg{
    width:992px;
}

@media (min-width:768px){
    .table-sm{
        width:100%;
    }
    .table-md{
        width:100%;
    }
}
@media (min-width:992px){
    .table-sm{
        width:100%;
    }
    .table-md{
        width:100%;
    }
    .table-lg{
        width:100%;
    }
}

